.DS_Store
.vscode
linked\ list/no-sorted list/tests
linked\ list/sorted\ list/tests
linked\ list/sorted\ list/tests.dSYM
binary\ search\ tree/tests
binary\ search\ tree/*.dSYM
Experimentation/inputs
Experimentation/linked_list/exp
Experimentation/rbst/exp
Experimentation/heaps/exp
Experimentation/heaps/Graph\ instances/inputs
eci2023-parts-I-V.pdf
randomized\ bst/tests
randomized\ bst/tests.dSYM
fibonacci\ heap/tests
fibonacci\ heap/tests.dSYM
trie/tests
trie/tests.dSYM
skip list/tests
skip list/tests.dSYM